@charset "utf-8";


// ----------------------------------------------------------
// Title
// ----------------------------------------------------------

h2.a-ttl {
    font-size: 30px;
    margin-bottom: 40px;
    &:before {
        content: "";
        display: inline-block;
        width: 15px; height: 2px;
        background: #FFF;
        vertical-align: middle;
        margin-right: 10px;
        margin-left: -25px;
    }
}
