@charset "utf-8";

// ----------------------------------------------------------
// Footer
// ----------------------------------------------------------
#footer {

    padding: 20px 0;

    .address {
        font-size: 12px;
        line-height: 1;
        text-align: center;
        color: #FFF;
        z-index: 9;
        position: relative;
    }

}
