@charset "utf-8";


// ----------------------------------------------------------
// Header
// ----------------------------------------------------------

#header {
    padding: 20px 20px 20px;
    h1 {
        line-height: 1;
        font-size: 14px;
        a { color: #FFF; display: inline-block; text-decoration: none}
    }
}
