@charset "utf-8";

// Font Family
//------------------------------------------------------------------------------

	@font-face {
	    font-family: 'NotoSansCJKjp-DemiLight';
	    font-style: normal;
	    src: url('/assets/font/NotoSansCJKjp-DemiLight.woff2') format('woff2'),
			 url('/assets/font/NotoSansCJKjp-DemiLight.woff') format('woff');
	}
	@font-face {
	    font-family: 'NotoSansCJKjp-Bold';
	    font-style: normal;
	    src: url('/assets/font/NotoSansCJKjp-Bold.woff2') format('woff2'),
			 url('/assets/font/NotoSansCJKjp-Bold.woff') format('woff');
	}

	@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,700);

	// @font-face {
	// 	font-family: 'Roboto Mono';
	// 	src: url('/assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
	// 		 url('/assets/fonts/RobotoMono-Regular.woff') format('woff'); /* Legacy iOS */
	// }
	// @font-face {
	// 	font-family: 'Roboto Mono bold';
	// 	src: url('/assets/fonts/RobotoMono-Bold.woff2') format('woff2'),
	// 		 url('/assets/fonts/RobotoMono-Bold.woff') format('woff'); /* Legacy iOS */
	// }

	$font_base: 'Roboto Mono', 'NotoSansCJKjp-DemiLight','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	$font_bold: 'Roboto Mono bold', 'NotoSansCJKjp-Bold', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	$font_noto: 'NotoSansCJKjp-DemiLight', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;

// Font Size
//------------------------------------------------------------------------------

	$font-size_base: 14;


// Line height
//------------------------------------------------------------------------------

	$line-height_base: 200%;
