@charset "utf-8";

div {
    &.home-enter {
        #hero,
        #contents {
            opacity: 0;
        }
    }
    &.home-enter-active {
        #hero,
        #contents {
            transition: all 1s ease 1s;
            opacity: 1;
        }
    }
    &.home-exit {
        #hero,
        #contents {
            opacity: 1;
        }
    }
    &.home-exit-active {
        #hero,
        #contents {
            transition: all 1s ease;
            opacity: 0;
        }
    }

    ////

    &.post-enter {
        position: fixed;
        width: 100%; height: 100%;
        z-index: 99;
        pointer-events: none;
        #post {
            opacity: 0;
        }
    }
    &.post-enter-active {
        #post {
            transition: all 1s ease 1s;
            opacity: 1;
        }
    }
    &.post-exit {
        position: fixed;
        width: 100%; height: 100%;
        z-index: 99;
        pointer-events: none;
        #post {
            opacity: 1;
        }
    }
    &.post-exit-active {
        #post {
            transition: all 1s ease;
            opacity: 0;
        }
    }
}
