@charset "utf-8";

#post {

	position: relative;
	z-index: 2;
    color: #FFF;

	.post-inner {

		min-height: calc(100vh - 52px);
		position: relative;

		@include max(768) {
			padding: 20px 60px 40px;
		}
	    @include max(480) {
			padding: 20px 20px 40px;
	    }

		.post-body {

			.post-wrap {
				line-height: 1.6;
				.post-date {
					margin-bottom: 5px;
					line-height: 1;
				}
				.post-ttl {
					font-weight: bold;
					margin-bottom: 20px;
					font-size: 20px;
				}
				.post-text {
				}
				.post-skills {
					border-top: 1px solid #333;
					margin-top: 20px;
					padding-top: 20px;
				}
			}
			.post-btns {
				margin-top: 40px;
			}

			@include min(768) {
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%,-50%);
				width: calc(100vw - 120px);

				.post-flex {
					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;
				}
				.post-thumb {
					width: 50%;
					img { width: 100%; }
				}
				.post-wrap {
					width: 50%;
					padding-left: 60px;
				}
			}
			@include max(768) {
				.post-thumb {
					margin-bottom: 20px;
				}
				.post-wrap {
					.post-ttl {
						font-size: 18px;
					}
				}
			}

		}

	}

	.post-back {
		margin-top: 60px;
		text-align: center;
	}

}
